In [6]:
import matplotlib as plt
import sys
import pandas as pd
sys.path.append(r"C:\Users\louis\OneDrive\Documents\CS\BCG Datathon\Datathon_BCG_colissiMONSTRE\datathon_bcg\module")
sys.path.append(r"C:\Users\louis\OneDrive\Documents\CS\BCG Datathon\Datathon_BCG_colissiMONSTRE\datathon_bcg\data\csv\champs")

from dataprep import traiter_donnees

%load_ext autoreload
%autoreload 2

In [3]:
df=pd.read_csv(r"C:\Users\louis\OneDrive\Documents\CS\BCG Datathon\Datathon_BCG_colissiMONSTRE\datathon_bcg\data\csv\champs\champs_2023.csv", delimiter=';')

In [4]:
df=traiter_donnees(df)

In [5]:
df.head()

,Libelle,taux_occupation,etat_arc,debit_horaire
timestamp,,,,
2023-01-01 00:00:00,AV_Champs_Elysees,NaN,Barré,3.0
2023-01-01 01:00:00,AV_Champs_Elysees,NaN,Barré,116.0
2023-01-01 02:00:00,AV_Champs_Elysees,34.44445,Invalide,534.0
2023-01-01 03:00:00,AV_Champs_Elysees,25.47389,Invalide,622.0
2023-01-01 04:00:00,AV_Champs_Elysees,26.02722,Invalide,756.0

In [16]:
# Compter les valeurs manquantes dans la colonne spécifiée
nombre_de_donnees_manquantes = df["taux_occupation"].isnull().sum()/len(df)

print(f"Le nombre de données manquantes dans la colonne '{'taux_occupation'}' est : {nombre_de_donnees_manquantes}")

nombre_de_donnees_manquantes = df["debit_horaire"].isnull().sum()/len(df)

print(f"Le nombre de données manquantes dans la colonne '{'debit_horaire'}' est : {nombre_de_donnees_manquantes}")

Le nombre de données manquantes dans la colonne 'taux_occupation' est : 0.016755521706016754
Le nombre de données manquantes dans la colonne 'debit_horaire' est : 0.014597613607514598

NameError: name 'column' is not defined